<h1> Fornecedores </h1>

<h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Localização</th>
        </tr>
    </thead>
    <tbody>
        <% @suppliers.each do |s| %>
        <tr>
            <td><%= link_to(s.brand_name, s)%></td>
            <td><%= s.city %> - <%= s.state %></td> 
        </tr>
        <%end%>
    </tbody>
</table>
</h2>

<% if @suppliers.empty? %>
        <p>Não existem fornecedores cadastrados.</p>
    <% end %>

<%= link_to 'Cadastrar Fornecedor', new_supplier_path %>

